name: Deploy to server

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare configuration file
        run: |
          sed -i 's|${STRIPE_API_KEY}|'"$STRIPE_API_KEY"'|g' wfsync.yml
          sed -i 's|${STRIPE_TEST_KEY}|'"$STRIPE_TEST_KEY"'|g' wfsync.yml
          sed -i 's|${STRIPE_WH_SECRET}|'"$STRIPE_WH_SECRET"'|g' wfsync.yml
          sed -i 's|${STRIPE_TEST_WH_SECRET}|'"$STRIPE_TEST_WH_SECRET"'|g' wfsync.yml
          sed -i 's|${STRIPE_SUCCESS_URL}|'"$STRIPE_SUCCESS_URL"'|g' wfsync.yml
          sed -i 's|${WF_ACCESS_KEY}|'"$WF_ACCESS_KEY"'|g' wfsync.yml
          sed -i 's|${WF_SECRET_KEY}|'"$WF_SECRET_KEY"'|g' wfsync.yml
          sed -i 's|${WF_APP_ID}|'"$WF_APP_ID"'|g' wfsync.yml
          sed -i 's|${MONGO_HOST}|'"$MONGO_HOST"'|g' wfsync.yml
          sed -i 's|${MONGO_PORT}|'"$MONGO_PORT"'|g' wfsync.yml
          sed -i 's|${MONGO_USER}|'"$MONGO_USER"'|g' wfsync.yml
          sed -i 's|${MONGO_PASSWORD}|'"$MONGO_PASSWORD"'|g' wfsync.yml
          sed -i 's|${MONGO_DATABASE}|'"$MONGO_DATABASE"'|g' wfsync.yml
          sed -i 's|${SQL_USERNAME}|'"$SQL_USERNAME"'|g' wfsync.yml
          sed -i 's|${SQL_PASSWORD}|'"$SQL_PASSWORD"'|g' wfsync.yml
          sed -i 's|${SQL_DATABASE}|'"$SQL_DATABASE"'|g' wfsync.yml
          sed -i 's|${FILE_PATH}|'"$FILE_PATH"'|g' wfsync.yml
          sed -i 's|${FILE_URL}|'"$FILE_URL"'|g' wfsync.yml
          sed -i 's|${TELEGRAM_API_KEY}|'"$TELEGRAM_API_KEY"'|g' wfsync.yml

        env:
          STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY }}
          STRIPE_TEST_KEY: ${{ secrets.STRIPE_TEST_KEY }}
          STRIPE_WH_SECRET: ${{ secrets.STRIPE_WH_SECRET }}
          STRIPE_TEST_WH_SECRET: ${{ secrets.STRIPE_TEST_WH_SECRET }}
          STRIPE_SUCCESS_URL: ${{ secrets.STRIPE_SUCCESS_URL }}
          WF_ACCESS_KEY: ${{ secrets.WF_ACCESS_KEY }}
          WF_SECRET_KEY: ${{ secrets.WF_SECRET_KEY }}
          WF_APP_ID: ${{ secrets.WF_APP_ID }}
          MONGO_HOST: ${{ secrets.MONGO_HOST }}
          MONGO_PORT: ${{ secrets.MONGO_PORT }}
          MONGO_USER: ${{ secrets.MONGO_USER }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
          MONGO_DATABASE: ${{ secrets.MONGO_DATABASE }}
          SQL_USERNAME: ${{ secrets.SQL_USERNAME }}
          SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
          SQL_DATABASE: ${{ secrets.SQL_DATABASE }}
          FILE_PATH: ${{ secrets.FILE_PATH }}
          FILE_URL: ${{ secrets.FILE_URL }}
          TELEGRAM_API_KEY: ${{ secrets.TELEGRAM_API_KEY }}

      - name: Copy Configuration to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "wfsync.yml"
          target: "/etc/conf"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Go application
        run: |
          go build -v -o wfsync ./cmd/server

      - name: Deploy to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "wfsync"
          target: "/usr/local/bin/"

      - name: Restart Application
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            systemctl restart wfsync.service 
